.o_website_preview .open2-loader, body.editor_enable .open2-loader { display: none !important; }
.oe_editable .s_open2_hero, .oe_editable .open2-page-hero { min-height: 32rem; }
.oe_editable [data-snippet^="s_open2_"] { min-width: 100%; }
